<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
    <!-- Latest Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-4">
        <h3 class="text-center text-decoration-underline">Employee List</h3>
        <a th:href="@{/add}" class="btn btn-primary mb-3">Add Employee</a>
        <table class="table table-striped table-bordered">
            <thead class="table-danger">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Designation</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${allemplist}">
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.age}"></td>
                    <td th:text="${employee.designation}"></td>
                    <td>
                        <a th:href="@{/updateform/{id}(id=${employee.id})}" class="btn btn-primary">Update</a>
                    </td>
                    <td>
                        <a th:href="@{/delete/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
